[user]
  name = ShotaKitazawa
  email = skitazawa1121@gmail.com
[push]
  default = tracking
[core]
  excludesfile = ~/.gitignore
  autoCRLF = false
[http]
  sslVerify = true
[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[color]
  branch = always
  diff = always
  status = always
  interactive = always
[ghq]
  user = ShotaKitazawa
  root = ~/go/src
  root = ~/.ghq
