[user]
  name = ShotaKitazawa
  email = skitazawa1121@gmail.com
[push]
  default = tracking
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[http]
  sslVerify = false
[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
