[user]
  name = ShotaKitazawa
  email = skitazawa1121@gmail.com
[push]
  default = tracking
[core]
  excludesfile = ~/.gitignore
  autoCRLF = false
  ignorecase = false
[http]
  sslVerify = true
[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  lol = log --graph --pretty='format:%C(auto)%h %d %s %C(green)%an%C(bold blue) %ad' --date=short
  lola = log --graph --pretty='format:%C(auto)%h %d %s %C(green)%an%C(bold blue) %ad' --all --date=short
[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
[ghq]
  user = ShotaKitazawa
  root = ~/.ghq
[credential]
	helper = cache
