source-file ~/.tmux/tmux.conf

{{- if eq .chezmoi.os "darwin" }}
source-file ~/.tmux/macos.conf
{{- else if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
source-file ~/.tmux/wsl.conf
{{-   else  }}
source-file ~/.tmux/linux.conf
{{-   end -}}
{{- end }}

if "test -e ~/.tmux.local.conf" "source-file ~/.tmux.local.conf"
