#!/usr/bin/env bash

echo "### run_after_001_homebrew-core.sh.tmpl ###"

{{ if eq .chezmoi.os "darwin" -}}

# install packages
brew bundle --file=/dev/stdin << EOF
{{ template "Brewfile.core" . }}
EOF

{{- end -}}
