#!/usr/bin/env bash

echo "### run_after_002_asdf.sh.tmpl ###"

cd $HOME
ASDF_VERSION="v0.9.0"

# install asdf
[ ! -e $HOME/.asdf ] && git clone https://github.com/asdf-vm/asdf.git -b ${ASDF_VERSION} $HOME/.asdf

# install plugins
cat $HOME/.tool-versions | grep -v "^$" | awk '{print $1}' | xargs -I{} asdf plugin-add {}
asdf install

echo "# install packages for Python"
which pip &>/dev/null && echo "{{ template "requirements.py.txt" . }}" | xargs -I{} pip install {}

echo "# install packages for Go"
which go &>/dev/null && echo "{{ template "requirements.go.txt" . }}" | xargs -I{} go install {}

echo "# install packages for Node.js"
which npm &>/dev/null && echo "{{ template "requirements.js.txt" . }}" | xargs -I{} npm install -g {}
