#!/usr/bin/env bash

echo "### run_after_001_homebrew-core.sh.tmpl ###"

{{ if eq .chezmoi.os "darwin" -}}

# install packages
# --no-upgrade: don't let `chezmoi apply` fight with casks that self-update (e.g. google-chrome)
brew bundle --no-upgrade --file=/dev/stdin << EOF
{{ template "Brewfile.core" . }}
EOF

{{- end -}}
