#!/usr/bin/env bash

echo "### run_after_003_homebrew-apps.sh.tmpl ###"

{{ if eq .chezmoi.os "darwin" -}}

# install packages
brew bundle --file=/dev/stdin << EOF
{{ template "Brewfile.apps" . }}
EOF

if brew autoupdate status | grep -q 'not configured'; then
  brew autoupdate start --upgrade
fi

{{- end -}}

