#!/usr/bin/env bash

echo "### run_after_003_homebrew-apps.sh.tmpl ###"

{{ if eq .chezmoi.os "darwin" -}}

# install packages
brew bundle --file=/dev/stdin << EOF
{{ template "Brewfile.apps" . }}
EOF

brew autoupdate start --upgrade

{{- end -}}

