#!/bin/bash

. ~/.shell/base

{{- if eq .chezmoi.os "darwin" }}
. ~/.shell/macos
{{- else if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
. ~/.shell/wsl
{{-   else  }}
. ~/.shell/linux
{{-   end }}
{{- end }}
