{{ if eq .chezmoi.os "linux" -}}
memodir = "/root/GoogleDrive/Memo/"
{{ else if eq .chezmoi.os "darwin" -}}
memodir = "$HOME/Google Drive/マイドライブ/Memo"
{{- end -}}
editor = "vim"
column = 20
selectcmd = "fzf"
grepcmd = "grep -nH ${PATTERN} ${FILES}"
assetsdir = "."
