[Unit]
Description=Mounted Google Drive on fuse
Documentation=https://github.com/harababurel/gcsf

[Service]
ExecStart=/usr/local/bin/gcsf mount /root/GoogleDrive -s skitazawa1121
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
